<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>News - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
							{{#each latestNews}}
								{{#if side}}
									{{{this.name}}}
									{{{this.description}}}
								{{/if}}
							{{/each}}
							</div>
							{{#each latestNews}}
								{{#if mainArticle}}
									<div>
										{{{this.name}}}
										{{{this.description}}}
									</div>
								{{/if}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>